---
const github = 'https://github.com/DavidTorro/Obsidian-Note-Nav-Cards-Plugin';
const author = 'https://github.com/DavidTorro';
const license = 'https://github.com/DavidTorro/Obsidian-Note-Nav-Cards-Plugin/blob/main/LICENSE';
const year = 2026;
---

<footer class="site-footer">
  <div class="container site-footer__inner">
    <div class="site-footer__brand">
      <span class="site-footer__title">Note Nav Cards</span>
      <span class="site-footer__note">Plugin de Obsidian creado por David Torró.</span>
    </div>

    <div class="site-footer__links">
      <div class="site-footer__col">
        <h4>Documentación</h4>
        <a href="/instalacion">Instalación</a>
        <a href="/uso">Uso básico</a>
        <a href="/sintaxis">Sintaxis</a>
      </div>
      <div class="site-footer__col">
        <h4>Proyecto</h4>
        <a href={github} target="_blank" rel="noopener">GitHub</a>
        <a href={license} target="_blank" rel="noopener">Licencia MIT</a>
        <a href={author} target="_blank" rel="noopener">Autor</a>
      </div>
    </div>
  </div>

  <div class="site-footer__bottom">
    © {year} David Torró · Distribuido bajo licencia MIT.
  </div>
</footer>
